@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-bg-color: #fff;
    --solid-bg-color: #707070;
    --text-color: #000;
    --hover-color: #22c8ff;
    --hover-color-dark: #1ca2cf;

    /**
   * colors
   */

  --oxford-blue_60: hsla(224, 34%, 13%, 0.6);
  --green-pigment: hsl(142, 76%, 36%);
  --oxford-blue: hsl(224, 34%, 13%);
  --maximum-red: hsl(0, 72%, 51%);
  --eerie-black: hsl(0, 0%, 9%);
  --mint-cream: hsl(146, 41%, 97%);
  --cadet-gray: hsl(215, 20%, 65%);
  --light-gray: hsl(216, 12%, 84%);
  --carcoal_20: hsla(214, 19%, 29%, 0.2);
  --carcoal_15: hsla(214, 19%, 29%, 0.15);
  --carcoal_10: hsla(214, 19%, 29%, 0.10);
  --sea-green: hsl(142, 72%, 29%);
  --gainsboro: hsl(220, 13%, 91%);
  --white_70: hsla(0, 0%, 100%, 0.7);
  --gunmetal: hsl(215, 28%, 17%);
  --manatee: hsl(218, 11%, 65%);
  --mango: hsl(43, 96%, 56%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * transition
   */

  --transition: 0.25s ease;

}

body{
    min-height: 100vh;
    background: var(--main-bg-color);
    color: var(--text-color);

    /*TEMP*/ /*background: #3c414a;*/
}

/*-----------------------------------*\
            #REUSED STYLE
\*-----------------------------------*/

.btn {
    background-color: var(--hover-color);
    color: var(--white);
    font-weight: var(--fw-500);
    max-width: max-content;
    padding: var(--padding, 12px 28px);
}

.btn:is(:hover, :focus) { background-color: var(--hover-color-dark); }

.btn-secondary { border-radius: 50px; }

.btn-primary { border-radius: 6px; }

.section-title { font-size: 35px; }

.section-text { line-height: 1.6; }

/*   HEADER SECTION   */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    transition: all 0.5s ease;
}
.navbar{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navlinks{
    display: flex;
    align-items: center;
}
.navlinks a{
    padding: 0px 20px;
    margin: 0 30px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.5s ease;
}
.navlinks a:hover{
    color: var(--hover-color);
}
.logo-img img{
    width: 80px;
    height: 80px;
}


/*   HERO SECTION   */
.hero{
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-sub-title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.hero-main-title{
    font-size: 100px;
}
.hero-quote{
    font-size: 20px;
}
.solid-bg-hero{
    background-color: var(--solid-bg-color);
    color: rgb(255, 255, 255);
    text-align: center;
}
.solid-bg-hero-content{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.pic-bg-hero{
    background-size: cover;
    background-position: 50% 50%;
    color: rgb(255, 255, 255);
    text-align: center;
}
#index-hero{
    font-size: 70px;
    text-shadow: 4px 3px 0px var(--hover-color), 9px 8px 0px rgba(0,0,0,0.15);
}


/*   CONTENT SECTION   */
.sample-homes{
    background: var(--main-bg-color);
    max-width: 1300px;
    /*padding: 0 80px;*/
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sample-homes h2{
    padding: 10px 0;
}
.listings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.listings .arrow{
    font-size: 35px;
    color: #b0b0b0;
}
.listings .arrow2{
    font-size: 22px;
    color: #b0b0b0;
    background-color: rgba(219, 219, 219, 0.2);
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.listing-card{
    width: 262px;
    height: 270px;
    margin: 13px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listing-card .listing-text{
    margin: 0 5px;
}
.listing-card img{
    width: 260px;
    height: 150px;
}
.listing-card p{
    font-size: 12px;
    margin: 10px 0;
}
.otherstuff{
    height: 200px;
}

/*-----------------------------------*\
                #INTRO
\*-----------------------------------*/
.intro-container{
    /* padding: 0 500px; */
    max-width: 1200px;
    margin: 140px auto;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.intro-banner img{
    width: 400px;
    border-radius: 10px;
}
.intro-banner .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--green-pigment);
    padding: 30px;
    font-size: 20px;
    border-radius: 50px;
}
.intro-container .intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-container .section-text { 
    margin-block: 20px 25px; 
    font-size: 14px;
}

/*-----------------------------------*\
                #SERVICES
\*-----------------------------------*/
.services-container{
    max-width: 1400px;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.service-list{
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-top: 20px;
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    gap: 20px;
    line-height: 150%;
}
.service-card .card-icon{
    color: var(--hover-color);
    background-color: #e7f8fe;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-inline: auto;
}


/*STATISTICS*/
.statistics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    max-width: 1300px;
    /*padding: 0 80px;*/
    margin: 120px auto;
}
.statistics h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.statistics img{
    margin-top: 25px;
    height: 550px;
}


/*SECON DPAGE*/
.articles{
    background: var(--main-bg-color);
    max-width: 1600px;
    /*padding: 0 80px;*/
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.articles h2{
    padding: 10px 0;
}
.article-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}
.article-card{
    width: 300px;
    height: 200px;
    margin: 13px;
    border: 1px solid #dedede;
    cursor: pointer;
    transition: all 0.5s ease;
    /* transition: border-top-color .5s ease; */
    color: #8a857f;
    letter-spacing: 0.5px;
    line-height: 1.4;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.article-card .article-card-title{
    /* margin: 25px; */
    text-transform: uppercase;
    color: var(--hover-color);
    font-weight: bold;
    font-size: 18px;
}
.article-card p{
    font-size: 14px;
    /* margin: 25px; */
}
.read-more{
    /* display: none; */
    text-transform: uppercase;
    color: white;
    transition: all 0.5s ease;
}
.article-card:hover{
    /* border-top: 4px solid var(--hover-color); */
    /* border-top-color: var(--hover-color);
    border-top-width: 4px;*/
    border: 1px solid var(--hover-color);
}
.article-card:hover .read-more{
    /* display: block; */
    color: var(--hover-color);
}

/*   FOOTER SECTION   */
/*
footer{
    color: #fff;
    background: #222222;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.contact-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer h2{
    text-align: center;
}

footer hr{
    height: 2px;
    border-width: 0;
    background-color:#333333;
}

.underthing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .socials{
    display: flex;
    justify-content: center;
    order: 2;
}
footer .social-links{
    display: block;
    list-style: none;

}
footer .social-links .social-link{
    display: inline-block;
    margin: 0 15px;    
    padding: 0 2px;
    font-size: 20px; 
    transition: all 0.5s ease; 
    
}
footer .social-links .social-link:hover{
    transform: scale(1.2);
    color: var(--hover-color);
}
footer .social-links .social-link a{
    color: white;
}
*/

/*   FOOTER SECTION   */
/* .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
} */
footer{
    background-color: #111010;
}
.footer-container{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 9rem;
}
footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--hover-color);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem 0;
    color: #d4d4d4;
    width: fit-content;
}
footer .rocki-bio{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 1.65rem;
}
footer .rocki-name{
    color: white;
    border-left: 4px solid var(--hover-color);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.rocki-img {
    height: 200px;
}
.rocki-name .rocki-initial{
    color: var(--hover-color);
}
footer .rocki-info p{
    color: white;
}
footer .useful-links{ /*TEMPORARY, DELETE LATER*/
    margin-bottom: 80px;
}
footer .useful-links a{
    color: #d4d4d4;
}
footer .useful-links a:hover{
    color: white;
}
footer .contact-info{
    grid-column-start: 2;
}
.contact-form{
    /* display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
}
.contact-form form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    /* --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)); */
}
form .form-inputs{
    padding: .25rem .5rem;
    margin: 5px 0;
    font-size: 16px;
}
form textarea{
    height: 50px;
    resize: none;
}
.submit-btn{
    padding: .25rem 1rem;
    margin: 5px 0;
    background-color: var(--hover-color);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #91e3ff;
    /* transition: all 0.5s ease; */
}
footer .copyright{
    /* background-color: #232127; */
    background-color: #252426;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}